<div class="post-container">
    <h2><a href="{{ path('app_blog_show', {slug: postcontent.slug}) }}">{{ postcontent.title }}</a></h2>
    <p><time datetime="{{ postcontent.publishedAt | date('c') }}">{{ postcontent.publishedAt | date }}</time></p>
    <p>{{ postcontent.body | truncate(300) }} <a href="{{ path('app_blog_show', {slug: postcontent.slug}) }}">Read more...</a></p>
</div>